
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

h1, p {
    text-align: center;
    
}


nav#topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    padding: 10px 0;
    text-align: center;
}
nav#topo ul {
    list-style: none;
    padding: 0;
}
nav#topo ul li {
    display: inline-block;
    margin: 0 15px;
    color: white;
    
}


nav#lateral {
    position: fixed;
    top: 0px; 
    left: 0;
    width: 100px;
    height: 100%;
    background: #222;
    padding-top: 20px;
}
nav#lateral ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
nav#lateral ul li {
    padding: 10px;
    color: white;
    border-top: 1px  solid white;
    border-bottom: 1px  solid white;
}


main {
    margin: 80px 0 0 220px;
    padding: 20px;

}

footer {
    text-align: center;
    background-color: mediumslateblue;
    padding: 20px;
    margin-top: 20px;
    
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    border: 2px solid red;
    border-radius: 30px;
    padding: 2px;
}
