@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gidole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gidole&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family: cocogoose;
    src: url(icones_do_brasil/ICONB__.TTF);
}
@font-face {
    font-family: geoform;
    src: url(geoform/Geoform-ExtraBold.otf);
} 
@font-face {
    font-family: vortigra;
    src: url(vortigra/Vortigra.otf);
}

   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

h1, p {
    text-align: center;
}
p {
    color: black;
    font-size: 20px;
}


nav#topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    padding: 10px 0;
    text-align: center;
}
nav#topo ul {
    list-style: none;
    padding: 0;
}
nav#topo ul li {
    display: inline-block;
    margin: 0 15px;
    color: white;
    
}


nav#lateral {
    position: fixed;
    top: 0px; 
    left: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(90deg, rgba(42,40,66,1) 0%, rgba(0,212,255,1) 59%, rgba(250, 250, 255, 0) 100%);
    padding-top: 20px;
}
nav#lateral ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
nav#lateral ul li {
    padding: 10px;
    color: white;
    border-top: 1px  solid white;
    border-bottom: 1px  solid white;
}


main {
    margin: 80px 0 0 0px;
    padding: 20px;
   
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    height: 100px;
    background-image: url(/web/style/Toyota.png);
    background-position: center;

}
a {
    text-decoration: none;
    color: white;
}
#lateral a:hover {
  color: black;

}
